.mainHeader{
    background-image: url('../../../Images/1.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
    height: 600px;
    background-position: center center;
}

.mainHeader-text{
    z-index: 200 !important;
    color: white;
    padding-top: 200px;
}

.mainHeader::before{
    content:  "";
    display: block;
    width: 100%;
    height: 100%;
    position: absolute;
    background: rgb(36, 41, 73);
    opacity: .7;
    top: 0;
}