.mainHeader{
    background-image: url('../../../Images/test.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
    height: 600px;
    background-position: center center;
}

.op-1{
    color: black;
}

.mainHeader-text{
    z-index: 200 !important;
    color: white;
    padding-top: 120px;
    font-style: italic;
    font-family: 'Lobster', cursive;
    font-size: 300px;
}

.mainHeader::before{
    content:  "";
    display: block;
    width: 100%;
    height: 100%;
    position: absolute;
    background: pink;
    opacity: .3;
    top: 0;
}