.adminNavbarArea{
    background-color:rgb(201, 245, 120);
    height:1000px;
    margin:0px;
    padding-top: 80px;
    width: 350px;
}

.navButton Button{
    background-color: rgb(201, 245, 120);
    border: none;
    font-size: 20px;
    font-weight: bold;
    color: rgb(65, 129, 65);
}

.navButton Button:hover{
    cursor: pointer;
}


.navButton{
    color:rgb(65, 129, 65);
    font-weight:bold;
    display:flex;
    font-size:22px;
    padding-right:30px;
    text-decoration: none;
    padding: 20px; 
}

.navButton img{
    width: 40px; 
    padding: 0px 20px; 
}

#logoImg{
    width: 40%; 
    padding-bottom: 10px; 
}

/* h1{
    color: white;
} */

/* 
.sidebar{
    background-image: linear-gradient(40deg, #19d3ae,#0fcfec);
    position: fixed;
}
.sidebar li{
    margin-bottom: 2em;
}
.sidebar li:hover span{
    display: inline-block;
    transform: translate(5px);
}
.sidebar svg{
    margin-right: 5px;
} */