.bookCardDetail{
    width:300px;
    height:200px;
    box-shadow: 5px 5px 5px gray;
    /* background-color:darkslategray; */
}

.deleteBtn{
    border-radius: 40px;
    background-color:pink
}


.deleteBtn img{
    border-radius: 20px;
}


/* .bookCardDetail:hover {
    transform: scale(1.2);
    transition: transform 3s;
    background-color:brown;
  } */